@import "tailwindcss";

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

/* Optional: Add some padding or margin for better spacing */
.bottom {
  padding: 10px 0;
}

.dt-paging-button {
  margin: 0 5px;
  border: none;
  border-radius: 16px;
  padding: 0 8px;
  color: #9095a0ff;
}

.dt-paging-button.current {
  color: white;
  background-color: #f44b87ff;
}
